/**----------------------------
    Stylesheeet
-------------------------------**/


/**----------------------------
    base
-------------------------------**/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

p {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

button {}


/**----------------------------
    header
-------------------------------**/

.header {
    background-image: linear-gradient(90deg, rgba(57, 57, 172, 0.8), rgba(57, 57, 172, 0.8)), linear-gradient(90deg, rgba(57, 57, 172, 1), rgba(57, 57, 172, 0.2)), url(../images/TuringCoverImage.jpg);
    background-position: right bottom;
    height: 100vh;
    background-size: cover;
}


/**----------------------------
    container
-------------------------------**/

.container {
    width: 1200px;
    margin: 0 auto;
}


/**----------------------------
    hero
-------------------------------**/

.hero {
    color: #94a9ff;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    top: 10%;
}

.hero-text {
    font-weight: 200;
}


/**----------------------------
    subheader
-------------------------------**/

.sub-header {
    color: #8f97ea;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 1114px;
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    top: 80%;
    transform: translateY(-30%);
    letter-spacing: 2px;
    text-align: justify;
}


/**----------------------------
    main
-------------------------------**/

main {
    height: 100vh;
}


/**----------------------------
    btn
-------------------------------**/

.btn {
    width: 140px;
    font-weight: 300;
    padding-right: 3px;
    display: block;
    margin-top: 200px;
    color: #de3131;
    letter-spacing: 2px;
    padding-bottom: 3px;
    border-right: 2px solid #de3131;
    border-bottom: 2px solid #de3131;
    transition: 0.3s ease-in;
}

.btn:hover,
.btn:focus {
    color: #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


/**----------------------------
  details
-------------------------------**/

.details {
    color: #565656;
    padding-top: 20px;
    background-color: #d8daeb;
    padding-bottom: 5px;
    text-align: justify;
}

.details p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.post-script {
	font-weight: 100px;
    text-transform: lowercase;
    text-align: center;
}
